html 
    include ../front.html
    //- include F:\Locker\MITS\3rd SEM\WebD projects\Flip Box Game\views\raha-nahi-jata-tadap-hi-aisi-hai_t7r6lmoN.mp3
style 
    include ../front.css
script 
    include ../worker.js
